.page-block {
    border: $stroke-width solid $color-primary;
    width: 100%;
    max-width: 80 * $spacing;

    &--dragging {
        opacity: 30%;
    }

    &__header {
        display: flex;
        justify-content: flex-end;
        gap: 2 * $spacing;
        background-color: $color-primary;
        padding: $spacing 2 * $spacing;
    }

    &__header-button {
        color: $color-secondary;
    }

    &__content {
        padding: 2 * $spacing;
    }

    &__content-text {
        border: none;
        background-color: transparent;
        resize: vertical;
        outline-offset: $spacing;
        width: 100%;
        padding: 0;
        overflow: hidden;
    }

    &__content-image {
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }
}
