.button {
    &.button--without-border {
        background-color: transparent;
        border: 2px solid transparent;
        padding: 0;

        &:hover {
            border-bottom: 2px solid currentColor;
        }
    }

    &.button--with-border {
        border: 2px solid currentColor;
    }
}
