.button {
    background-color: transparent;
    &.button--without-border {
        border: $stroke-width solid transparent;
        padding: 0;

        &:hover {
            border-bottom: $stroke-width solid currentColor;
        }
    }

    &.button--with-border {
        border: $stroke-width solid currentColor;

        &:hover {
            background-color: $color-tertiary;
        }
    }
}
